{% extends 'base.html.twig' %}

{% block title %}New Emprunt{% endblock %}

{% block body %}
   <div class="container">

    <h1>Creer un nouvel Emprunt</h1>
    {{ include('emprunt/_form.html.twig') }}
   </div>

{% endblock %}
